sudo: required
  
matrix:
  include:
    - os: linux
      arch: amd64

services:
  - docker

script:
  - docker build --tag ngochieu642/${REPO} .
  - docker run ngochieu642/${REPO}

after_script:
  - docker images

deploy:
  provider: script
  script: bash docker_push.sh
  on:
    branch: test/cow-say
