sudo: required

arch:
  - arm64
  
matrix:
  include:
    - os: linux
      arch: arm64

services:
  - docker

script:
  - docker build --tag ${DOCKER_USERNAME}/${REPO} .
  - docker run ${DOCKER_USERNAME}/${REPO}

after_script:
  - docker images

deploy:
  provider: script
  script: bash docker_push.sh
  on:
    branch: ${BRANCH}
