sudo: required

arch:
  - arm64

matrix:
  include:
    - os: linux
      arch: arm64

services:
  - docker

script:
  - docker build --tag ngochieu642/travis-test:pm2-arm64 .
  - docker run ngochieu642/travis-test:pm2-arm64

after_script:
  - docker images

deploy:
  provider: script
  script: bash docker_push.sh
  on:
    branch: test/pm2-arm64

