sudo: required
services:
  - docker

script:
  - docker build --tag ngochieu642/travis-test:cow-say .
  - docker run ngochieu642/travis-test:cow-say
  - docker push ngochieu642/travis-test:cow-say

after_script:
  - docker images
