sudo: required

services:
  - docker

arch:
  - amd64

matrix:
  include:
    - os: linux
      arch: amd64

script:
  - docker build --tag ngochieu642/test-travis-cowsay:amd64 .
  - docker run ngochieu642/test-travis-cowsay:amd64

after_script:
  - docker images

deploy:
  provider: script
  script: bash docker_push.sh
  on:
    branch: test/cow-say