sudo: required

arch:
  - amd64
  
matrix:
  include:
    - os: linux
      arch: arm64

services:
  - docker

services:
  - docker

script:
  - docker build --tag ngochieu642/travis-test-cowsay:amd64 .
  - docker run ngochieu642/travis-test-cowsay:amd64

after_script:
  - docker images

deploy:
  provider: script
  script: bash docker_push.sh
  on:
    branch: test/cow-say
